name: Java Client Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Java Client Build
    env:
      CONDUCTOR_SERVER_URL: ${{ vars.SERVER_URL }}
      CONDUCTOR_AUTH_KEY: ${{ secrets.AUTH_KEY }}
      CONDUCTOR_AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
      
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set up Zulu JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "21"
          
      - name: Build
        id: build
        run: ./gradlew clean build -x test
        
      - name: Run Tests
        id: tests
        if: success()
        continue-on-error: true
        run: ./gradlew test jacocoTestReport
        
      - name: Publish Test Report
        if: always()
        uses: mikepenz/action-junit-report@v6
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          
      - name: Upload coverage to Codecov
        if: always()
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: '**/build/reports/jacoco/test/jacocoTestReport.xml'
        
      - name: Check Tests Status
        if: steps.tests.outcome == 'failure'
        run: exit 1
        